.gitignore
python/neural-nets/ml-100k/u5.test
python/neural-nets/ml-100k/u5.base
python/neural-nets/ml-100k/u4.test
python/neural-nets/ml-100k/ua.base
python/neural-nets/ml-100k/u3.test
python/neural-nets/ml-100k/u3.base
python/neural-nets/ml-100k/u2.test
python/neural-nets/ml-100k/u2.base
python/neural-nets/ml-100k/u1.test
python/neural-nets/ml-100k/u1.base
python/neural-nets/ml-100k/u.user
python/neural-nets/ml-100k/u.occupation
python/neural-nets/ml-100k/u.item
python/neural-nets/ml-100k/u.info
python/neural-nets/ml-100k/u.genre
python/neural-nets/ml-100k/u.data
python/neural-nets/ml-100k/README
python/neural-nets/ml-100k/mku.sh
python/neural-nets/ml-100k/allbut.pl
python/neural-nets/ml-100k/u4.base
python/neural-nets/ml-100k.zip
python/neural-nets/Mega_Case_Study/Mega_Case_Study.ipynb
python/neural-nets/Mega_Case_Study/mega_case_study.py
python/neural-nets/Mega_Case_Study/.DS_Store
python/neural-nets/Credit_Card_Applications.csv
python/neural-nets/Mega_Case_Study/Credit_Card_Applications.csv
python/neural-nets/ml-100k/ua.test
python/neural-nets/ml-100k/ub.base
python/neural-nets/ml-100k/ub.test
python/neural-nets/ml-1m.zip
python/neural-nets/ml-1m/movies.dat
python/neural-nets/ml-1m/ratings.dat
python/neural-nets/ml-1m/README
python/neural-nets/ml-1m/users.dat
python/test_out.txt
*Google*
*.ipynb_checkpoints*
